.top-footer
{
    display:flex; 
    flex-direction:column; 
    align-items:center; 
    margin-top:100px; 
    border-top-style: solid; 
    border-top-color: rgb(129, 129, 128); 
    border-width:2px;
}

.footer-color
{
    background-color: #9fccff4d;
}